
<% let isOwnerClass = function (g) { return g._permissions.includes('ADMINISTRATOR') ? 'guildadm' : 'guildnoadm hover08' } %>

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('../includes/head.ejs', {menuTitle: 'Painel'}); %>
  </head>

  <body>
    <%- include('../includes/navbar.ejs', {menuTitle: 'Painel'}); %>

    <% if (perm) { %>

      <script src="/js/toastr/perm.js"></script>

    <% } %>

    <div class="columns is-mobile is-desktop is-centered is-multiline" style="padding: 100px">

      <% guilds.forEach(g => { %>

        <div class="column is-narrow">
          <a href="/dashboard/guilds/<%= g.id %>">
            <div class="notification is-dark hovermoredark <%= isOwnerClass(g) %> guild" style="padding: 15px">
              <center><img src="https://cdn.discordapp.com/icons/<%= g.id %>/<%= g.icon %>.png" width="75" height="75" style="border-radius: 50%"></img></center>
              <p style="font-size: 20px;"><%= g.name %></p>
            </div>
          </a>
        </div>
      <% }) %>

      <div class="column is-narrow">
        <a href="https://discord.com/oauth2/authorize?client_id=763815343507505183&scope=bot&permissions=388160">
          <div class="notification is-dark hovermoredark guildadm guild" style="padding: 15px">
            <center><img src="https://i.imgur.com/BxO5bPY.png" width="75" height="75" style="border-radius: 50%"></img></center>
            <p style="font-size: 20px;">Adicionar</p>
          </div>
        </a>
      </div>

    </div>

    

  </body>
  
  <%- include('../includes/footer.ejs'); %>

</html>
