
<% let isOwnerClass = function (g) { return g._permissions.includes('ADMINISTRATOR') ? 'guildadm' : 'guildnoadm hover08' } %>

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('../includes/head.ejs', {menuTitle: 'Painel'}); %>
  </head>

  <body>
    <%- include('../includes/navbar.ejs', {menuTitle: 'Painel'}); %>

    <div class="columns is-mobile is-desktop is-centered is-multiline" style="padding: 100px">


      <div class="column is-narrow">
          <div class="notification is-dark hovermoredark <%= isOwnerClass(guild) %> guild" style="padding: 15px">
            <center><img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" width="75" height="75" style="border-radius: 50%"></img></center>
            <p style="font-size: 20px;"><%= guild.name %></p>
          </div>
      </div>
      <div class="column is-narrow">
          <div class="notification is-dark hovermoredark <%= isOwnerClass(guild) %> guild" style="padding: 15px">
            <h2 style="font-size: 24px; margin-top: 0px;"><strong>Informações</strong></h2>
            <h2 style="font-size: 16px; margin-top: 0px;">
              <%= cmds %> Comandos Executados
              <br><%= lastcmd %>
            </h2>
          </div>
      </div>

    </div>

  </body>
  
  <%- include('../includes/footer.ejs'); %>

</html>
